<h6 class="titulo-pagina-menu">Citas</h6>

<div class="content">
  <div class="container">
    <div class="formulario">
      <nav class="mt-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/citas">Citas</a></li>
          <li class="breadcrumb-item active" aria-current="page">Crear</li>
        </ol>
      </nav>

      <div class="card mt-5">
        <div class="mb-4">
          <h6>Crear Cita</h6>
        </div>
        <% flash.get('mensaje').forEach(function (msg) { %>
          <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
            <p>
              <i><span class="fa fa-circle-xmark"></span></i>
              <%=msg%>
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% }) %>
            <div class="card-body">
              <form class="row g-4" id="formulario-cita" method="post" action="/procesar-crear-cita">
                <div class="col-md-6 mb-3">
                  <label for="idCliente" class="form-label">Cliente</label>
                  <select class="form-select" id="idCliente" name="idCliente" autocomplete="off">
                    <option selected disabled value="0">seleccione un cliente</option>
                    <% clientes.forEach( cliente=> { %>
                      <option value="<%=cliente.id%>">
                        <%=cliente.nombres_cliente%>
                          <%=cliente.primer_apellido_cliente%>
                            <%=cliente.segundo_apellido_cliente%>
                      </option>
                      <% }) %>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="fechaCita" class="form-label">Fecha Cita</label>
                  <input type="date" class="form-control" id="fechaCita" name="fechaCita" placeholder="fecha cita"
                    autocomplete="off">
                </div>
            </div>
            <div class="d-grid gap-2 mt-4">
              <button class="btn btn-outline-primary" type="submit">Crear Cita</button>
            </div>
            </form>
      </div>
    </div>
  </div>
</div>