<h6 class="titulo-pagina-menu">Citas</h6>

<div class="content">
  <div class="container">
    <div class="formulario">

      <% flash.get('mensaje').forEach(function (msg) { %>
        <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert" id="alerts">
          <p>
            <i><span class="fa fa-circle-xmark"></span></i>
            <%=msg%>
          </p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }) %>

          <nav class="mt-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/citas">Citas</a></li>
              <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
          </nav>

          <div class="card mt-5">
            <div class="mb-4">
              <h6>Editar Cita</h6>
            </div>

            <div class="card-body">
              <form class="row g-4" id="formulario-cita" method="post" action="/procesar-editar-cita">
                <div class="col-md-6 mb-3">
                  <label for="idCita" class="form-label">Id</label>
                  <input type="text" class="form-control" id="idCita" name="idCita" value="<%=cita[0].id%>"
                    autocomplete="off" readonly>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="idCliente" class="form-label">Cliente</label>
                  <select class="form-select" id="idCliente" name="idCliente" autocomplete="off">
                    <option selected disabled value="0">seleccione un cliente</option>
                    <option value="<%=cita[0].cliente.id%>" selected>
                      <%=cita[0].cliente.nombres_cliente%>
                        <%=cita[0].cliente.primer_apellido_cliente%>
                          <%=cita[0].cliente.segundo_apellido_cliente%>
                    </option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <% let fechaBD=new Date(cita[0].fecha_cita) %>
                    <% let fecha=fechaBD.getFullYear() + "-" + "0" + (fechaBD.getMonth() + 1) + "-" + fechaBD.getDate()
                      %>
                      <label for="fechaCita" class="form-label">Fecha Cita</label>
                      <input type="date" class="form-control" id="fechaCita" name="fechaCita" value="<%=fecha%>"
                        autocomplete="off">
                </div>
            </div>
            <div class="d-grid gap-2 mt-4">
              <button class="btn btn-outline-primary" type="submit">Editar Cita</button>
            </div>
            </form>
          </div>
    </div>
  </div>
</div>