<h6 class="titulo-pagina-menu">Usuarios</h6>

<div class="content">
  <div class="container">
    <div class="acciones-datatable">
      <a href="/agregar-usuario"><span class="fa fa-user-plus agregar"></span></a>
    </div>
    <div class="table-responsive">
      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha_Alta</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% usuarios.forEach( usuario=> { %>
            <tr>
              <td>
                <%= usuario.id%>
              </td>
              <td>
                <%= usuario.nom_usr%>
              </td>
              <td>
                <%= usuario.apell_usr%>
              </td>
              <td>
                <%= usuario.email_usr%>
              </td>
              <td>
                <% let fechaBD=new Date(usuario.fec_alta) %>
                  <% let fecha=fechaBD.getDate() + "-" + fechaBD.getMonth() + "-" + fechaBD.getFullYear()%>
                    <%= fecha %>
              </td>
              <td>
                <span class="<%= usuario.est_usr ? " badge text-bg-success" : "badge text-bg-danger" %>"><%=
                    usuario.est_usr ? "activo" : "inactivo" %></span>
              </td>
              <td>
                <div class="acciones-datatable">
                  <a href="/cuentas-por-pagar"><span class="fa fa-circle-info detalles"></span></a> |
                  <a href="/cuentas-por-pagar"><span class="fa fa-user-pen editar"></span></a> |
                  <a href="/cuentas-por-pagar"><span class="fa fa-trash eliminar"></span></a>
                </div>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>

  </div>

</div>